{% extends "layout.html" %}
{% block title %}Reader announcements{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    </style>
{% endblock %}
{% block body %}
    <h1>Reader announcements</h1>
    <table class=announcements>
      <tr>
        <th>#
        <th>Title
        <th>Content
        <th>Date Added
      {%- for announcement in announcements %}
          {%- if announcement.readerVisibility == 1 %}
            <tr class=title>
                <td>{{ announcement.id }}
                <td>{{ announcement.title }}
                <td>{{ announcement.description }}
                <td>{{ announcement.date.strftime('%Y-%m-%d') }}
          {% endif %}
      {%- endfor %}
    </table>
{% endblock %}